.cuotas{
    text-align: center;
    background-color: #BFBFBF ;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-top: solid 2px cyan;
    border-bottom: solid 2px cyan;
}

.card-1{
    justify-content: center;
    width: 300px;
    background-color: white;
    margin:20px;
    display: flex;
    flex-direction: column;
}
.cont{
    display: flex;
}

